@import "../utils/colors";

.detailedExplanationSection {
  padding-top: 300px;
  display: flex;
  flex-direction: column-reverse;
  background-color: getColor(background-secndoary);
  padding-bottom: 100px;

  transform: skewY(-15deg);

  &__options {
    transform: skewY(15deg);
  }
  &__Image {
    transform: skewY(15deg);
  }
}

.detailedExplanationSection__options {
  padding-left: 10px;
  h2 {
    font-size: 40px;
    width: 300px;
    padding-bottom: 10px;
  }
}

.detailedExplanationSection__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;

  li {
    display: flex;

    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
  }
  img {
    width: 24px;
    height: 24px;
  }

  p {
    display: inline;
    flex: 1;
  }
}

.detailedExplanationSection__LoremBtn {
  background-color: black;
  padding: 15px 30px;

  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
  }
  img {
    width: 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 376px) {
  .detailedExplanationSection {
    padding-top: 300px;

    flex-direction: row;
    justify-content: center;
    background-color: getColor(background-secndoary);
    padding-bottom: 150px;

    transform: skewY(-10deg);

    &__options {
      transform: skewY(10deg);
    }
    &__Image {
      transform: skewY(10deg);
    }
  }

  .detailedExplanationSection__options {
    padding-left: 15px;
    h2 {
      width: 400px;
    }
  }

  .detailedExplanationSection__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;

    li {
      display: flex;

      align-items: center;
      gap: 5px;
      background-color: white;
      padding: 15px;
      border-radius: 25px;
    }
    img {
      width: 24px;
      height: 24px;
    }

    p {
      display: inline;
      flex: 1;
    }
  }
}
