.telefonHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 17px;
  margin-bottom: 10px;
}

.languageSelection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  width: 330px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 35px;
  margin-bottom: 20px;

  &__FlegBritsh {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 10px;
  }

  &__Logo {
    position: relative;
    left: 15px;
    width: 80px;
  }
}

@media (min-width: 376px) {
  .telefonHeader {
    display: none;
  }

  .languageSelection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    width: 80vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 35px;
    margin-bottom: 20px;

    &__FlegBritsh {
      width: 40px;
      height: 20px;
      margin-right: 10px;
      position: relative;
      top: 10px;
    }

    &__Logo {
      position: relative;
      left: 15px;
      width: 80px;
    }
  }
  header {
    padding-top: 15px;
  }
}
