@import "../utils/colors";

.workSection {
  background-color: getColor(background-secndoary);

  transform: skewY(-15deg);
  padding-bottom: 70px;
  display: flex;
  flex-direction: column-reverse;

  &__Explanation {
    transform: skewY(15deg);
  }
  &__Image {
    transform: skewY(15deg);
  }
}

.workSection__Explanation {
  padding-left: 10px;

  h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0;
  }
  p {
    padding: 10px 0;
  }
}

.xetDizayn {
  text-decoration: underline;
}

.workSection__Explanation--span {
  display: block;
}

.telefon-span {
  display: block;
}

.workSection__LoremBtn {
  background-color: black;
  padding: 15px 30px;

  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
  }
  img {
    width: 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 376px) {
  .workSection {
    background-color: getColor(background-secndoary);

    transform: skewY(-10deg);
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0;

    &__Explanation {
      transform: skewY(10deg);
    }
    &__Image {
      transform: skewY(10deg);
    }
  }
}
